* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label{
    display: inline-block;
    cursor: pointer;
    padding: 1em 2em;
    margin: 0.5em;
    border-radius: 4px;
    color: #eae5e4;
    background-color: #0e6428;
}

.form {
  display: none;
}

.form h2{
    padding: 0.5rem 0em;
}

.form .loginform{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
}

input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 8px;
    font-size: 1em;
}

button[type="submit"]{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover{
    background-color:#0e6428;
}



#login:checked ~ .login {
  display: block;
}

#signup:checked ~ .signup {
  display: block;
}
